*.a
*.bin
*.map
*.png
*.log
*.elf
*.ihex
obj_*
symbols.*
Makefile.target
doc/html
patches-*
tools/tunslip6

# eclipse stuff
.project
.cproject
.settings

# sdcc build stuff
contiki-sensinode.lib
*.asm
*.ihx
*.hex
*.mem
*.lnk
*.lst
*.rel
*.rst
*.sym
*.sensinode

# other platform build stuff
*.native
*.minimal-net

# cc2430 converter objects
cpu/cc2430/converter/converter
cpu/cc2430/converter/converter.exe
cpu/cc2430/converter/converter.o
cpu/cc2430/converter/ihex.o
