*.a
*.bin
*.map
*.png
*.log
*.elf
*.ihex
obj_*
symbols.*
Makefile.target
doc/html
patches-*
tools/tunslip6

# eclipse stuff
.project
.cproject
.settings

# CVS stuff
CVS
.#*

# SVN stuff
.svn

# sdcc build stuff
contiki-sensinode.lib
*.asm
*.ihx
*.hex
*.mem
*.map
*.lnk
*.lst
*.rel
*.rst
*.sym
*.sensinode
obj_sensinode

# other platform build stuff
obj_sky
obj_native
obj_cooja
symbols.c
symbols.h
*.native

# untracked contiki dirs
cpu/cc2430/converter/converter
cpu/cc2430/converter/converter.exe
cpu/cc2430/converter/converter.o
cpu/cc2430/converter/ihex.o

